{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block title  %}
    PORTAL VAGAS AJU
{% endblock  %}

{% block content %}
    <div class="container">
    <div class="card">
      <h5 class="card-header">Cadastre sua Vaga</h5>
      <div class="card-body">

        <h6 class="card-title">Informações Básicas da Vaga</h6>
        <p class="card-text">informe sobre a respeito da sua empresa e a vaga que está oferecendo.</p> 
        <div class="form-row">
    
         

        
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
{% endblock  %}
